// Swatches
$swatch-black: #000;
$swatch-white: #fff;

// TableMaths Swatches
$main-background: #ff9;
$main-color: #000;
$highlight-background: #9cf;

// Assignments
$color-background: #424242;
$color-text: darken($swatch-white, 20%);
$color-headings: $swatch-white;
$color-hr: #aaa;

// Media viewports
$meida-small-max: 'max-width: 800px';
