// Swatches
$swatch-black: #000;
$swatch-white: #fff;

// Assignments
$color-background: #424242;
$color-text: darken($swatch-white, 20%);
$color-headings: $swatch-white;
$color-hr: #aaa;

// bookmarklet
$bookmarklet-background: #626262;
$bookmarklet-shadow: #3B3B3B;
$bookmarklet-color: $swatch-white;
