<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="publisher" href="https://plus.google.com/117650829871636122363"/>
  {% seo %}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" integrity="sha384-KgEy7s3ThYKule8wWiu2WJkm0AmJeSLkXku5PY5X8MhVgdm8K1ebsVRKHfNfWPrR" crossorigin="anonymous"></script>
  <script src="assets/scripts/app.js"></script>
</head>
<body>
<div class="traction-sidenav">
  <div class="logo-container">
    <a href="https://tractionco.com"><img width="30" height="30" alt="Traction" src="assets/images/traction_bug.png" /></a>
  </div>
  <div class="logo-container-cutline"></div>
</div>
<div id="container" class="container">
{{content}}
</div>
</body>
</html>
